.DetailContent h1 {
    font-size: 4rem;
    font-weight: 800;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

.Heading {
    margin-top: 120px;
}

.DetailContent p {
    font-size: 1rem;
    font-weight: 400;
    color: #757575;
    font-family: 'Montserrat', sans-serif;
}

.GenreList {
    font-size: 1rem !important;
    margin-right: 4px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.Play a{
    color: #E50A15;
    font-size: 3rem;
    margin-right: 20px;
}

.Play a:hover{
    color: #E50A15;
}

.PlayWord {
    color: #FFFFFF;
    font-size: .95rem;
    margin-right: 4px;
}

.Center {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.Imdb {
    color: #F4C518;
    font-size: 1.5rem;
}

.Rates {
    margin: 230px 0px 0px 0px;
}

.Rating {
    font-size: 1.5rem !important;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
}

.Starring {
    font-size: 1rem !important;
    color: #FFFFFF !important;
    font-family: 'Lato', sans-serif;
    margin-top: 40px;
}

.Dull {
    color: #757575;
}

.MovieOverview {
    margin-top: 10px;
}