.Header {
    display: flex;
    justify-content: space-between;
    background-color: #111111;
    align-items: center;
    font-size: 18px;
    color: white;
    padding: 0 15px;
}

.Header > nav > ul {
    list-style: none;
    display: flex;
}

.Header > nav > ul li {
    margin-right: 40px;
    font-size: 16px;
}

.Header > nav > ul li a {
    text-decoration: none;
    color: #FFF;
}


.Logo {
    height: 100%;
    pointer-events: none;
    width: 220px;
    margin-right: auto;
    margin-left: 50px;
}

