.Navbar {
    background-color: #111111 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logo {
    height: 100%;
    pointer-events: none;
    width: 220px;
    margin-right: auto;
    margin-left: 50px;
}

.NavLink {
    color: #FFFFFF !important;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 2px;
    font-family: 'Homoarakhn', sans-serif;
}

